th {
  text-align: left;
  padding: 0.5rem 1rem;
  border: 1px solid #dee2e6;
  border-width: 1px 0 2px 0;
  font-weight: 400 !important;
  font-size: 1.5rem !important;
  color: #212529;
  background: #ffffff;
  transition: box-shadow 0.15s;
  height: 43px;
}
td {
  text-align: left;
  padding: 0.5rem 1rem;
  border: 1px solid #dee2e6;
  border-width: 1px 0 2px 0;
  font-weight: 400 !important;
  font-size: 1.5rem !important;
  color: #212529;
  background: #ffffff;
  transition: box-shadow 0.15s;
  height: 43px;
}
